@import "tailwindcss";

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547; */
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: oklch(12.9% 0.042 264.695);
  }
}