@import "tailwindcss";

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547; */
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* color: #213547; */
    background-color: #27272a;
  }
}